<html>
    <head>
        <title>
            Resultados de la Búsqueda
        </title>
    </head>
    <body>
        <p>
            Elemento buscado: <strong>{{query}}</strong>
        </p>
        <p>
            Artículos encontrados: {{articulos}}
        </p>
        <ul>
            {% for articulo in articulos_view %}
                <li>
                
                    {{articulo.nombre}}
                
                </li>
            {% endfor %}
        </ul>
    </body>
</html>